body {
    background-color: #333;
    color: #EEE;
}

.map {

}

.row {
    display: flex;
}

.cell {
    height: 2em;
    width: 2em;

    text-align: center;
    line-height: 2em;
}

.room {
    background-color: slateblue;
}

.player {
    background-color: lightgreen;
}

.enemy {
    background-color: darkred;
}

.ruhroh {
    background-color: red;
}
